<!--
  Generated template for the MisFacturasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

 
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Mis Facturas
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card>
      
        <ion-list>
          <!-- se deben ordenar por fecha de la mas reciente a la mas antigua y deben ser las de cada usuario
          <button ion-item>
            <ion-icon name="document" item-start></ion-icon>
          
            factura 1 - estado
          </button>
          <button ion-item>
              <ion-icon name="document" item-start></ion-icon>
              factura 2 - estado
            </button> -->

            <button ion-item  *ngFor="let factura of facturas$ | async; let i = index" (click)="mostrarFactura(factura)">
              <h2>Factura {{i+1}}</h2>
              <h2>Estado: {{ factura.estado }}</h2>
              <h3>Almacen: {{ factura.almacen }}</h3>
            
            </button>
            <!-- <ion-item   *ngFor="let factura of facturas$ | async; let i = index">
                <h2>Factura {{i+1}}</h2>
                <h2>Estado: {{ factura.estado }}</h2>
                <h3>Almacen: {{ factura.url }}</h3>
              
            </ion-item> -->
      
        </ion-list>
      </ion-card>

</ion-content>
