page-lista-premios {
    .toolbar-title-md{
        color: white;
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
        color: white;
    }

    .toolbar-background-md {
        
        background: #F71515;
    }
    .text-center{
        text-align: center; 
    }
    .izq{
        float: right;
    }
    #new{
        color: white;
        background-color: #f71515;
        font-size: 2rem;
    }
    .imgPremio{
        text-align: center;
        margin-top: 100px;
    }
    @media (max-width: 500px ) and (min-width: 300px){
        .tab{
            margin-left: 0em;
            font-size: 18px;
        }
        .adminVal{
            display: none;
        }
    }


}
