page-detalle-factura {
    .toolbar-title-md{
        color: white;
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
        color: white;
    }

    .toolbar-background-md {
        
        background: #F71515;
    }
    .text-center{
        text-align: center; 
    }

    @media (max-width: 500px ) and (min-width: 300px){
        
     .titulo{
         margin-left: -21px;
         
     }
   
 }
 
 @media (max-width: 490px ) and (min-width: 340px){
     
     .titulo{
         margin-left: -21px;
         
     }
 
 }
 
 @media (max-width: 780px ) and (min-width: 500px){
    
    
                 .titulo{
                     margin-left: -21px;
                     
                 }
         }

}
